div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
  }
  
p {
    background-color: green;
    color: white;
    font-size: 18px;
    font-family: Verdana, "DejaVu Sans", sans-serif;
  }

div {
    width: 240px;
    border: 1px solid pink;
}

.image{
    width: 400px;
    height: auto;
}