*{
  margin:0;
  padding:0;
}


h1 {
  background-color: aqua;
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding:20px;
  border-top-width:20 px;
  border-bottom-width:40 px;
  border-right-width:40 px;
  border-left-width:20 px;
  border-style:solid;
  border-color:rgb(10, 227, 89);
  margin:20 px;
}
  
p {
    color: red;
  }


  .button {
    background-color:rgb(132, 154, 242);
    border-radius: 5px;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }