*{
  margin:0;
  padding:0;
}

h1 {
  background-color: aqua;
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  padding:20px;
  border-width: 10px 1rem 10px 1rem;
  border-style:solid;
  border-color:green;
  margin: 25px 50px 25px 50px;
}

.button {
    background-color:rgb(132, 154, 242);
    border-radius: 10px 20px;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 40px;
    width: 200px;
    margin:0 auto;
  

}